html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inconsolata', monospace;
    background-color: #E4E7E5;
}

.nav {
    background-color: #4b5058;  
   
}

.logo{
    height: 60px;
    width: auto;
    padding: 0px 16px;
    
}

.nav-content a{
    font-size: 24px;
    font-family: 'Tillana', cursive;
    color: #E4E7E5;
    float: right;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    top: 0;
    transition: top 0.3s;
    text-shadow: #4b5058;
}

.nav-content a:hover {
    
    color: black;
    background-color: #E4E7E5;
    transition: 0.8s;
}
  
.nav-content a.active {
    color: #E4E7E5;
}

h1{
    font-size: 120px;
    font-family: 'Tillana', cursive;
    color: black;
    background-color: #67785c;
    padding: 90px ;
    margin: 0;
    text-align: center; 
    mix-blend-mode: screen;
    font-weight: 900;
}

.heading{
    background-image: url('./images/olena-sergienko-3BlVILvh9hM-unsplash.jpg');
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }