html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inconsolata', monospace;
    background-color: #E4E7E5;
}

p{
    text-indent: 40px;
    min-width: 300px;
    max-width: 500px;    
}

#open-line{
    text-indent: 0px;
}

.nav {
    background-color: #4b5058;  
    width: 100%;
   
}

.logo{
    height: 60px;
    width: auto;
    padding: 8px 24px;
}

.nav-content a{
    font-size: 24px;
    font-family: 'Tillana', cursive;
    color: #E4E7E5;
    float: right;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    top: 0;
    transition: top 0.3s;
    text-shadow: #4b5058;
}

.nav-content a:hover {
    
    color: black;
    background-color: #93999c;
    transition: 0.8s;
}
  
.nav-content a.active {
    color: #E4E7E5;
}

h1{
    font-size: 160px;
    background-color: #67785c;
    padding: 48px ;
    margin: 0;
    text-align: center; 
    mix-blend-mode: screen;
    font-weight: 900;
    width: auto;
}

h1, h2{
    font-family: 'Tillana', cursive;
    color: black;
}

h2{
    background-color: #496245;
    padding: 20px 0px 20px 35px;
    margin-top: 0;
    
}

.heading{
    background-image: url('./images/olena-sergienko-3BlVILvh9hM-unsplash.jpg');
}

.bio{
    padding: 20px;
    margin: 10px;
    display:flex;
    
}

.bio .column1of2{
    max-width: 600px;
    min-width: 400px;
    padding-right: 10px;
    margin-bottom: 50px;
    display: block;
}

.bio .column2of2{
    max-height: 500px;
    min-height: 150px;
    overflow: scroll;
    
}

.bio #open-line{
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

.bio #close-line{
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    text-indent: 0px;
}

.bio p{
    font-size: 18px;
    font-weight: 600;
}

.bio img{
    align-items: end;
    min-height: 250px;
    max-height: 400px;
    display: inline;
}

.quote{
    background-image: url(./images/ivan-lopatin-vfhcRV7fqQs-unsplash.jpg);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #E4E7E5;
    padding: 30px;
    width:90%;
    min-width: 300px;
    margin-bottom: 20px;
}

.quote p{
    text-align: start;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #4b5058;
    color: #000;
    font-family: 'Tillana', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    outline: none;
    transition: 0.4s;
}

button#s1{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

button#s3{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

}
  
/* Add a background color to the button if it is clicked on and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #93999c;
}
  
/* Style the accordion panel. hidden by default */
.panel {
    padding: 0 18px;
    background-color: #E4E7E5;
    display: none;
    overflow: hidden; }

.projects{
    padding:20px 0 30px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.projects h2{
    width: 100%;
    align-items: center;
}

.panel img{
    width: 500px;
    float: right;
    padding: 10px 40px;
}

#s1 {
    margin-top: 30px;
}

/*Footer*/

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Colors */

footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0 0 0;
  height: 70px;
  background-color: #4b5058;
  .copyright {
    width: 50%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      color: white;
      font-size: 0.8em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: 0px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
      width: 50%;
      float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
    a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
      transition: 0.5s;      
    }
    a:hover {
        background-color: #222;
        transition: 0.5s;
       }
  }
}

.linked {
  background-color: #1E83AE;
  font-size: 1.2em;
  width:  20%;
}

.face {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3DACDD;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #496245;
  font-size: 0.8em;
  width: 40%;
}

/*responsiveness*/


@media only screen and (max-width: 1180px)  {
    .panel img, .bio img{
        float: left !important;
        width: 400px;
        height: 300px;
        padding-bottom: 16px;
        min-width: 50%;
    }

    .heading, .heading h1 {
        font-size: 80px;
        width: auto;
    }

}

@media only screen and (max-width:800px){
    .bio img{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .heading, .heading h1 {
        font-size: 40px;
        width: auto;
    }
}

@media only screen and (max-width: 500px){
    .column1of2{
        padding: 0;
    }

    .bio{
        margin-left: 0;
        margin-right: 0;
        max-width: 400px;
        padding-right: 0;

    }

    .nav-content a{
        font-size: 20px;
        padding: 16px 8px;
    }

    .nav-content .logo{
        padding: 8px;
    }

    .column1of2 #open-line{
        font-size: 24px;
    }

    .column1of2 p, .column1of2{
        width: 300px;
    }


}



/*Contact page additional styling*/


.con-line{
    font-size: 28px;
    font-weight: bolder;
    max-width: none;
    text-align: center;
}


.con-body{
    text-indent: 0px;
    min-width: 400px;  
    text-align: center; 
}

#con-head h1{
    font-size: 80px;
    padding: 36px;
}

.contact{
    text-align: center;
}

/* Style all font awesome icons */
a .fa {
    padding: 20px;
    font-size: 60px;
    width: 60px;
    
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
opacity: 0.6;
}
  
  
.fa-linkedin{
    background: #496245;
    color: white;
    
}

.fa-github {
    background: white;
    color: #496245;
}

.fa-envelope{
    background-color: #496245;
    color: white;
}